header{
  display: inline-block;
  margin: 0;
  padding: 0;
  
  text-transform: uppercase;
  width: 1500px;

}

nav{
  width: 100%;

}
li{
  display: inline-block;
  list-style: none;

}
h1{
  text-align: center;
  color: #0F174D;
  font-size:50px;
}

img{
  display: inline-block;
  position: relative;
  margin: 0 20px;
  width: 1500px;
  height: 600px;
}

a{
  display: inline-block;
  color:#000;
  text-decoration: none;


}

.menu{
  display: inline-block;
  margin-left: 100px;
}
